<% provide(:title, 'Sign Up') %>
<h1 class="col-xs-12">Sign Up</h1>
<div class="container">
  <div class="col-sm-2 col-md-3"></div>
  <div class="row col-sm-8 col-md-6">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <div class="form-group col-xs-12">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group col-xs-12">
        <%= f.label :phone %>
        <%= f.text_field :phone, class: "form-control" %>
      </div>
      <div class="form-group col-xs-12">
        <%= f.label :email %>
        <%= f.text_field :email, class: "form-control" %>
      </div>
      <div class="form-group col-xs-12">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group col-xs-12">
        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <div class="form-group col-xs-12">
        <%= f.submit "Create account", class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>
  </div>
  <div class="col-sm-2 col-md-3"></div>
</div>