<% provide(:title, 'Sign Up') %>
<h1>Sign Up</h1>

<%= bootstrap_form_for(@user) do |f| %>

  <%= f.text_field :name %>

  <%= f.phone_field :phone %>

  <%= f.email_field :email %>

  <%= f.password_field :password %>

  <%= f.password_field :password_confirmation, label: "Confirm Password" %>

  <%= f.submit "Create account", class: "btn btn-primary btn-lg" %>
<% end %>